<router-outlet></router-outlet>
<div class="leftpanel" >
  <span class="logo">LOGO</span>
  <span class="header">Board.</span>

  <div class="iconlist">
    <img src="assets/login/github.png" alt="Icon 1" class="icon">
    <img src="assets/login/twitter.png" alt="Icon 2" class="icon">
    <img src="assets/login/linkedin.png" alt="Icon 3" class="icon">
    <img src="assets/login/discord.png" alt="Icon 3" class="icon">
  </div>
</div>

<div class="rightpanel">
  <p class="signinheader"> Sign in</p>
  <p class="signInHeaderText">Sign in to your account</p>

  <div class="buttonlist">
    <button class="signInButton" mat-flat-button> <img class="logo" src="assets\login\google.png" alt=""> Sign in with google</button>
    <button class="signInButton" mat-flat-button > <img class="logo" src="assets\login\apple.png" alt="">  Sign in with Apple</button>
  </div>

  <div class="form">
    <div class="elementinput">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" >
      <br>
      <label for="">Password</label>
      <input [(ngModel)]="password" type="password">
      <p class="forgotPassword"> <a  href="https://saltybearxd.co/"  target="_blank" style="color: #4285F4; text-decoration: none;">Forgot Password?</a> </p>
      <button class="signinbut" mat-flat-button color="primary">Sign in</button>
    </div>
  </div>
  <div class="register">
  <p class="text">Don't Have a account? <a href="https://saltybearxd.co/"  target="_blank" style="color: #4285F4; text-decoration: none;" >Register here</a></p>
  </div>
  </div>


