.sidebar{
    position: absolute;
    width: 15%;
    height: 90%;
    border-radius: 6%/3%; ;
    background-color: #4285F4;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.header{
    color:#FFFFFF;
    padding-left: 16%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: x-large;
    padding-top: 7%;
    letter-spacing: 1px;
}

.stats{

    position: absolute;
    right: 4%;
    width: 75%;
    height: 20%;
    top: 17%;
}


.label{   
    list-style-type: none;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 700;
    padding: 0;
    align-items: center;
}

a{
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 70%;
}

li{
    text-decoration: none;
    padding-top: 5%;
    width: 98%;
    text-align: center;
    line-height: 5vh;
}

li:hover{
    font-weight: bold;
    font-size: 110%;
}


.list{
    width: 100%;
}

.navbar{
    position: absolute;
    width: 75%;
    right: 4%;
    height: 5%;
    top: 8%;
    display: inline-block;
}

.Logo{
    margin: 0;
    font-family: Montserrat;
    font-weight: 700;
    font-size: larger;
}

.search{
    color: #66afe9;
    display: flex;
    position: absolute;
    right: 0;
    top: -5%;
}



  /* .searchbox:focus{
    border-color: #66afe9;
    outline: 0;
    width: 200px;
    -webkit-transition: width 0.2s ease-in 0.2s;
            transition: width 0.2s ease-in 0.2s;
  } */

  .searchbox{
    position: relative;
    width: 50%;
    height: 4vh;
    padding: 0 35px 0 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: none;
    color: #555;
  }
  .image{
    border: 2px solid black;
    position: absolute;
    width: 12%;
    height: 80%;
    border-radius: 50%;
    right: -10%;
    top: -10%;
  }

mat-card{
    position: relative;
    margin: 1%;
    margin-right: 2%;
    width: 40vh !important;
}

