<div class="sidebar">

    <p class="header">Board.</p>

    <ul class="label">
        <li> <i style="color: black;" class="fa fa-bars"></i> <a href="">Dashboard</a> </li>
        <li> <a href="">Transactions</a> </li>
        <li> <a href="">Schedules</a> </li>
        <li> <a href="">Users</a> </li>
        <li> <a href="">Settings</a> </li>
    </ul>

</div>


<div class="navbar">
    <p class="Logo">Dashboard</p>

    <div class="search">
        <form id="searchFormTop" action="" method="get">
            <i style="position: absolute; z-index: 1;right: 30%; top: 25%;" class="fa fa-search"></i>
          <input type="text" class="searchbox" name="q" id="q" placeholder="Search...">
          <i style="margin: 4%; color: black;" class="fa fa-bell"></i>
          <div class="image"></div>
        </form>
        
      </div>
</div>

<div class="stats">
    <div style="display: flex;height:100%;width: 100%;">
        <mat-card>
        <mat-card-content>Simple card</mat-card-content>
        </mat-card>
        <mat-card>
        <mat-card-content>Simple card</mat-card-content>
        </mat-card>
        <mat-card>
        <mat-card-content>Simple card</mat-card-content>
        </mat-card>
        <mat-card>
        <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </div>
</div>